<h8>Best results we found for you</h8>
<div id="newsCarousal" class="carousel slide" data-bs-ride="carousel">
	<!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#newsCarousal" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#newsCarousal" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#newsCarousal" data-bs-slide-to="2"></button>
  </div>
	<div class="carousel-inner">
		<%@data.each do |key, news|%>
      <%next if news.blank?%>
			<div class="carousel-item <%=key.downcase.to_s == 'indiatoday' ? 'active' : ''%>">
        <h1 class="papper-name"><%=key.to_s.titleize%></h1>
        <div class="row row-cols-1 row-cols-md-3 g-3">
  				<%news.each do |content|%>
            <div class='col card-col'>
              <div class="card" style="width: 35rem;">
                 <div class="card-body">
    				  	   <h4 class="card-title"><%=link_to content['heading'], content['url'], target: :_blank%></h4>
    				  	   <p class="card-text"><%= content['desc']%></p>
    				     </div>
              </div>
            </div>
  				<%end%>
        </div>
			</div>
		<%end%>
	</div>
	<!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousal" data-bs-slide="prev">
    <span class="carousel-control-prev-icon carousel-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#newsCarousal" data-bs-slide="next">
    <span class="carousel-control-next-icon carousel-icon"></span>
  </button>
</div>
